.additional-info {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    color: white;
    max-width: 270px;

    .title-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
            margin-right: 8px;
        }
    }

    .value {
        font-size: 30px;
        font-weight: 700;
        margin: 10px 0;
    }
}