.weather-details {
    width: 100%;
}

.additional-infos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 100%;
    max-width: 900px;
    margin: 0px auto;

    @media only screen and (max-width: 767px) {
        grid-template-columns: 1fr;
        max-width: 350px;
    }
}

