.locations-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .current-location {
        background-color: white;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 15px;
        color: #319CE4;
        font-weight: 500;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        width: 100%;
        max-width: 350px;

        img {
            margin-right: 10px;
        }
    }

    .current-location:hover {
        background-color: rgba($color: white, $alpha: 0.7);
    }

    .current-location:focus{
        outline: none;
    }

    .input-container {
        position: relative;
        width: 100%;
        max-width: 500px;

        @media only screen and (max-width: 767px) {
            max-width: 350px;
        }

        .text-field {
            width: 100%;
        }

        .suggestions {
            position: absolute;
            background-color: rgba(255, 255, 255, 0.9);
            width: 100%;
            border-radius: 15px;
            color: #026eb6;

            .suggestion {
                padding: 8px 10px;
                line-height: 1.2;
                cursor: pointer;
                border: 2px solid #026eb6;
                border-top: 0;
            }

            .suggestion:first-child {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }

            .suggestion:last-child {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        }
    }
}